<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Pozwala dołączyć do klasy fitness w boxie i wyświetlać tętno na wspólnym ekranie.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_mfj-gym._tcp</string>
		<string>_mfj-gym._udp</string>
	</array>
</dict>
</plist>
